openapi: 3.0.3
info:
  description: "Capture websites, manage jobs, compose images, schedule captures,\
    \ crawl sites, and read usage."
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Allscreenshots public API
  version: 1.0.0
servers:
- url: https://api.allscreenshots.com
paths:
  /v1/crawls:
    get:
      operationId: list
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrawlListResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Crawl
    post:
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CrawlRequest"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrawlCreatedResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Crawl
  /v1/crawls/{id}:
    delete:
      operationId: delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Crawl
    get:
      operationId: get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrawlResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Crawl
  /v1/crawls/{id}/cancel:
    post:
      operationId: cancel
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrawlResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Crawl
  /v1/crawls/{id}/pages:
    get:
      operationId: pages
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrawlPagesResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Crawl
  /v1/crawls/{id}/pages/{pageId}/outputs/{output}:
    get:
      operationId: output
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pageId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: output
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Stored capture output
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Crawl
  /v1/schedules:
    get:
      operationId: listSchedules
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleListResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Schedule
    post:
      operationId: createSchedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateScheduleRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Schedule
  /v1/schedules/{id}:
    delete:
      operationId: deleteSchedule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Schedule
    get:
      operationId: getSchedule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Schedule
    put:
      operationId: updateSchedule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateScheduleRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Schedule
  /v1/schedules/{id}/history:
    get:
      operationId: getExecutionHistory
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleHistoryResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Schedule
  /v1/schedules/{id}/pause:
    post:
      operationId: pauseSchedule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Schedule
  /v1/schedules/{id}/resume:
    post:
      operationId: resumeSchedule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Schedule
  /v1/schedules/{id}/trigger:
    post:
      operationId: triggerSchedule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Schedule
  /v1/screenshots:
    post:
      operationId: captureSync
      parameters:
      - description: Unique submission key. Supported for responseType=url; reuse
          with the same body to recover the original result.
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 100
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScreenshotRequest"
        required: true
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: "Binary capture or JSON, according to responseType and outputs"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Screenshot
  /v1/screenshots/async:
    post:
      operationId: createAsyncJob
      parameters:
      - description: Unique submission key. Supported for responseType=url; reuse
          with the same body to recover the original result.
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 100
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScreenshotRequest"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncJobCreatedResponse"
          description: Capture accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Job
  /v1/screenshots/bulk:
    get:
      operationId: listBulkJobs
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BulkJobSummary"
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Bulk
    post:
      operationId: createBulkJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkRequest"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Bulk
  /v1/screenshots/bulk/{id}:
    get:
      operationId: getBulkJobStatus
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkStatusResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Bulk
  /v1/screenshots/bulk/{id}/cancel:
    post:
      operationId: cancelBulkJob
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkJobSummary"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Bulk
  /v1/screenshots/captures/{id}/result:
    get:
      operationId: getSyncCaptureResult
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Stored capture output
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Screenshot
  /v1/screenshots/captures/{id}/result/{outputId}:
    get:
      operationId: getSyncCaptureOutputResult
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: outputId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Stored capture output
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Screenshot
  /v1/screenshots/compose:
    post:
      operationId: compose
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComposeRequest"
        required: true
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Composed image
        "202":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Composition accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Compose
  /v1/screenshots/compose/jobs:
    get:
      operationId: listComposeJobs
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ComposeJobSummaryResponse"
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Compose
  /v1/screenshots/compose/jobs/{jobId}:
    get:
      operationId: getComposeJobStatus
      parameters:
      - explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComposeJobStatusResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Compose
  /v1/screenshots/compose/preview:
    get:
      operationId: getLayoutPreview
      parameters:
      - explode: true
        in: query
        name: layout
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: image_count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: canvas_width
        required: false
        schema:
          default: 1200
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: canvas_height
        required: false
        schema:
          default: 800
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: aspect_ratios
        required: false
        schema:
          items:
            format: double
            type: number
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LayoutPreviewResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Compose
  /v1/screenshots/jobs:
    get:
      operationId: listJobs
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/JobResponse"
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Job
  /v1/screenshots/jobs/{id}:
    get:
      operationId: getJobStatus
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Job
  /v1/screenshots/jobs/{id}/cancel:
    post:
      operationId: cancelJob
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Job
  /v1/screenshots/jobs/{id}/result:
    get:
      operationId: getJobResult
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: "Binary capture or JSON, according to responseType and outputs"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Job
  /v1/screenshots/jobs/{id}/result/{outputId}:
    get:
      operationId: getJobOutputResult
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: outputId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Stored capture output
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Job
  /v1/screenshots/submissions/{key}:
    get:
      operationId: submissionStatus
      parameters:
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Screenshot
  /v1/usage:
    get:
      operationId: getUsage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Usage
  /v1/usage/activity:
    get:
      operationId: getActivity
      parameters:
      - explode: true
        in: query
        name: days
        required: false
        schema:
          default: 120
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: apiKeyIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DailyCaptureCountResponse"
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Usage
  /v1/usage/keys:
    get:
      operationId: getUsageByKey
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyUsageResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Usage
  /v1/usage/quota:
    get:
      operationId: getQuota
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuotaStatusResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API error
      security:
      - ApiKey: []
      tags:
      - Usage
components:
  schemas:
    ApiKeyUsageDetail:
      example:
        apiKeyId: apiKeyId
        currentPeriod:
          bandwidthBytes: 0
          screenshotsCount: 6
        keyPrefix: keyPrefix
        name: name
        totals:
          bandwidthBytes: 0
          screenshotsCount: 6
      properties:
        apiKeyId:
          nullable: true
          type: string
        currentPeriod:
          $ref: "#/components/schemas/CaptureUsageCounts"
        keyPrefix:
          nullable: true
          type: string
        name:
          type: string
        totals:
          $ref: "#/components/schemas/CaptureUsageCounts"
      required:
      - currentPeriod
      - name
      - totals
      type: object
    ApiKeyUsageResponse:
      example:
        keys:
        - apiKeyId: apiKeyId
          currentPeriod:
            bandwidthBytes: 0
            screenshotsCount: 6
          keyPrefix: keyPrefix
          name: name
          totals:
            bandwidthBytes: 0
            screenshotsCount: 6
        - apiKeyId: apiKeyId
          currentPeriod:
            bandwidthBytes: 0
            screenshotsCount: 6
          keyPrefix: keyPrefix
          name: name
          totals:
            bandwidthBytes: 0
            screenshotsCount: 6
        periodEnd: periodEnd
        periodStart: periodStart
      properties:
        keys:
          items:
            $ref: "#/components/schemas/ApiKeyUsageDetail"
          type: array
        periodEnd:
          type: string
        periodStart:
          type: string
      required:
      - keys
      - periodEnd
      - periodStart
      type: object
    AsyncJobCreatedResponse:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        id: id
        status: QUEUED
        statusUrl: statusUrl
      properties:
        createdAt:
          format: date-time
          type: string
        id:
          type: string
        status:
          enum:
          - QUEUED
          - PROCESSING
          - COMPLETED
          - FAILED
          - CANCELLED
          type: string
        statusUrl:
          type: string
      required:
      - createdAt
      - id
      - status
      - statusUrl
      type: object
    BandwidthQuotaResponse:
      example:
        limitBytes: 5
        limitFormatted: limitFormatted
        percentUsed: 5
        remainingBytes: 2
        remainingFormatted: remainingFormatted
        usedBytes: 7
        usedFormatted: usedFormatted
      properties:
        limitBytes:
          format: int64
          type: integer
        limitFormatted:
          type: string
        percentUsed:
          format: int32
          type: integer
        remainingBytes:
          format: int64
          type: integer
        remainingFormatted:
          type: string
        usedBytes:
          format: int64
          type: integer
        usedFormatted:
          type: string
      required:
      - limitBytes
      - limitFormatted
      - percentUsed
      - remainingBytes
      - remainingFormatted
      - usedBytes
      - usedFormatted
      type: object
    BorderConfig:
      properties:
        color:
          default: "#cccccc"
          type: string
        radius:
          default: 0
          format: int32
          maximum: 20
          minimum: 0
          type: integer
        width:
          default: 1
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      type: object
    BrowserCookieRequest:
      properties:
        domain:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        expires:
          format: double
          nullable: true
          type: number
        httpOnly:
          nullable: true
          type: boolean
        name:
          maxLength: 512
          minLength: 0
          type: string
        path:
          default: /
          maxLength: 2048
          minLength: 0
          nullable: true
          type: string
        sameSite:
          nullable: true
          pattern: ^(strict|lax|none|no_restriction|unspecified)$
          type: string
        secure:
          nullable: true
          type: boolean
        value:
          default: ""
          maxLength: 4096
          minLength: 0
          type: string
      required:
      - name
      type: object
    BrowserHeaderRequest:
      properties:
        name:
          maxLength: 128
          minLength: 0
          pattern: "^[!#$%&'*+.^_`|~0-9A-Za-z-]+$"
          type: string
        origin:
          maxLength: 255
          minLength: 0
          nullable: true
          pattern: "^https?://[^/]+$"
          type: string
        value:
          default: ""
          maxLength: 8192
          minLength: 0
          pattern: "^[^\\r\\n]*$"
          type: string
      required:
      - name
      type: object
    BrowserSessionRequest:
      properties:
        cookies:
          items:
            $ref: "#/components/schemas/BrowserCookieRequest"
          maxItems: 200
          minItems: 0
          type: array
        headers:
          items:
            $ref: "#/components/schemas/BrowserHeaderRequest"
          maxItems: 100
          minItems: 0
          type: array
        storage:
          items:
            $ref: "#/components/schemas/BrowserStorageOriginRequest"
          maxItems: 5
          minItems: 0
          type: array
      type: object
    BrowserStorageOriginRequest:
      properties:
        localStorage:
          additionalProperties:
            type: string
          type: object
        origin:
          maxLength: 255
          minLength: 0
          pattern: "^https?://[^/]+$"
          type: string
        sessionStorage:
          additionalProperties:
            type: string
          type: object
      required:
      - origin
      type: object
    BulkDefaults:
      properties:
        actions:
          items:
            $ref: "#/components/schemas/PageAction"
          nullable: true
          type: array
        blockAds:
          default: true
          type: boolean
        blockCookieBanners:
          default: true
          type: boolean
        blockLevel:
          default: none
          pattern: ^(none|light|normal|pro|pro_plus|ultimate)$
          type: string
        blockPopups:
          default: true
          type: boolean
        customCss:
          maxLength: 10000
          minLength: 0
          nullable: true
          type: string
        darkMode:
          default: false
          type: boolean
        delay:
          default: 0
          format: int32
          maximum: 30000
          minimum: 0
          type: integer
        device:
          nullable: true
          type: string
        format:
          default: png
          pattern: ^(png|jpeg|jpg|webp|pdf)$
          type: string
        fullPage:
          default: false
          type: boolean
        outputs:
          items:
            $ref: "#/components/schemas/OutputSpec"
          nullable: true
          type: array
        quality:
          default: 80
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        stealthMode:
          default: false
          type: boolean
        timeout:
          default: 30000
          format: int32
          maximum: 60000
          minimum: 1000
          type: integer
        viewport:
          allOf:
          - $ref: "#/components/schemas/ViewportConfig"
          nullable: true
        waitFor:
          nullable: true
          type: string
        waitUntil:
          default: domcontentloaded
          pattern: ^(load|domcontentloaded|networkidle)$
          type: string
      type: object
    BulkJobDetailInfo:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        createdAt: 2000-01-23T04:56:07.000+00:00
        errorCode: errorCode
        errorMessage: errorMessage
        fileSize: 1
        format: format
        height: 5
        id: id
        renderTimeMs: 5
        resultUrl: resultUrl
        status: status
        storageUrl: storageUrl
        url: url
        width: 2
      properties:
        completedAt:
          format: date-time
          nullable: true
          type: string
        createdAt:
          format: date-time
          type: string
        errorCode:
          nullable: true
          type: string
        errorMessage:
          nullable: true
          type: string
        fileSize:
          format: int64
          nullable: true
          type: integer
        format:
          nullable: true
          type: string
        height:
          format: int32
          nullable: true
          type: integer
        id:
          type: string
        renderTimeMs:
          format: int64
          nullable: true
          type: integer
        resultUrl:
          nullable: true
          type: string
        status:
          type: string
        storageUrl:
          nullable: true
          type: string
        url:
          type: string
        width:
          format: int32
          nullable: true
          type: integer
      required:
      - createdAt
      - id
      - status
      - url
      type: object
    BulkJobInfo:
      example:
        errorCode: errorCode
        errorMessage: errorMessage
        id: id
        resultUrl: resultUrl
        status: status
        url: url
      properties:
        errorCode:
          nullable: true
          type: string
        errorMessage:
          nullable: true
          type: string
        id:
          type: string
        resultUrl:
          nullable: true
          type: string
        status:
          type: string
        url:
          type: string
      required:
      - id
      - status
      - url
      type: object
    BulkJobSummary:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        completedJobs: 0
        createdAt: 2000-01-23T04:56:07.000+00:00
        failedJobs: 6
        id: id
        progress: 1
        status: status
        totalJobs: 5
      properties:
        completedAt:
          format: date-time
          nullable: true
          type: string
        completedJobs:
          format: int32
          type: integer
        createdAt:
          format: date-time
          type: string
        failedJobs:
          format: int32
          type: integer
        id:
          type: string
        progress:
          format: int32
          type: integer
        status:
          type: string
        totalJobs:
          format: int32
          type: integer
      required:
      - completedJobs
      - createdAt
      - failedJobs
      - id
      - progress
      - status
      - totalJobs
      type: object
    BulkRequest:
      example:
        defaults: ""
        urls:
        - options: ""
          url: url
        - options: ""
          url: url
        - options: ""
          url: url
        - options: ""
          url: url
        - options: ""
          url: url
        webhookSecret: webhookSecret
        webhookUrl: webhookUrl
      properties:
        defaults:
          allOf:
          - $ref: "#/components/schemas/BulkDefaults"
          nullable: true
        urls:
          items:
            $ref: "#/components/schemas/BulkUrlRequest"
          maxItems: 100
          minItems: 0
          type: array
        webhookSecret:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        webhookUrl:
          nullable: true
          pattern: ^https?://.*
          type: string
      required:
      - urls
      type: object
    BulkResponse:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        completedJobs: 0
        createdAt: 2000-01-23T04:56:07.000+00:00
        failedJobs: 6
        id: id
        jobs:
        - errorCode: errorCode
          errorMessage: errorMessage
          id: id
          resultUrl: resultUrl
          status: status
          url: url
        - errorCode: errorCode
          errorMessage: errorMessage
          id: id
          resultUrl: resultUrl
          status: status
          url: url
        progress: 1
        status: status
        totalJobs: 5
      properties:
        completedAt:
          format: date-time
          nullable: true
          type: string
        completedJobs:
          format: int32
          type: integer
        createdAt:
          format: date-time
          type: string
        failedJobs:
          format: int32
          type: integer
        id:
          type: string
        jobs:
          items:
            $ref: "#/components/schemas/BulkJobInfo"
          type: array
        progress:
          format: int32
          type: integer
        status:
          type: string
        totalJobs:
          format: int32
          type: integer
      required:
      - completedJobs
      - createdAt
      - failedJobs
      - id
      - jobs
      - progress
      - status
      - totalJobs
      type: object
    BulkStatusResponse:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        completedJobs: 0
        createdAt: 2000-01-23T04:56:07.000+00:00
        failedJobs: 6
        id: id
        jobs:
        - completedAt: 2000-01-23T04:56:07.000+00:00
          createdAt: 2000-01-23T04:56:07.000+00:00
          errorCode: errorCode
          errorMessage: errorMessage
          fileSize: 1
          format: format
          height: 5
          id: id
          renderTimeMs: 5
          resultUrl: resultUrl
          status: status
          storageUrl: storageUrl
          url: url
          width: 2
        - completedAt: 2000-01-23T04:56:07.000+00:00
          createdAt: 2000-01-23T04:56:07.000+00:00
          errorCode: errorCode
          errorMessage: errorMessage
          fileSize: 1
          format: format
          height: 5
          id: id
          renderTimeMs: 5
          resultUrl: resultUrl
          status: status
          storageUrl: storageUrl
          url: url
          width: 2
        progress: 7
        status: status
        totalJobs: 9
      properties:
        completedAt:
          format: date-time
          nullable: true
          type: string
        completedJobs:
          format: int32
          type: integer
        createdAt:
          format: date-time
          type: string
        failedJobs:
          format: int32
          type: integer
        id:
          type: string
        jobs:
          items:
            $ref: "#/components/schemas/BulkJobDetailInfo"
          type: array
        progress:
          format: int32
          type: integer
        status:
          type: string
        totalJobs:
          format: int32
          type: integer
      required:
      - completedJobs
      - createdAt
      - failedJobs
      - id
      - jobs
      - progress
      - status
      - totalJobs
      type: object
    BulkUrlOptions:
      properties:
        actions:
          items:
            $ref: "#/components/schemas/PageAction"
          nullable: true
          type: array
        blockAds:
          nullable: true
          type: boolean
        blockCookieBanners:
          nullable: true
          type: boolean
        blockLevel:
          nullable: true
          pattern: ^(none|light|normal|pro|pro_plus|ultimate)$
          type: string
        blockPopups:
          nullable: true
          type: boolean
        customCss:
          maxLength: 10000
          minLength: 0
          nullable: true
          type: string
        darkMode:
          nullable: true
          type: boolean
        delay:
          format: int32
          maximum: 30000
          minimum: 0
          nullable: true
          type: integer
        device:
          nullable: true
          type: string
        format:
          nullable: true
          pattern: ^(png|jpeg|jpg|webp|pdf)$
          type: string
        fullPage:
          nullable: true
          type: boolean
        outputs:
          items:
            $ref: "#/components/schemas/OutputSpec"
          nullable: true
          type: array
        quality:
          format: int32
          maximum: 100
          minimum: 1
          nullable: true
          type: integer
        stealthMode:
          nullable: true
          type: boolean
        viewport:
          allOf:
          - $ref: "#/components/schemas/ViewportConfig"
          nullable: true
        waitFor:
          nullable: true
          type: string
        waitUntil:
          nullable: true
          pattern: ^(load|domcontentloaded|networkidle)$
          type: string
      type: object
    BulkUrlRequest:
      example:
        options: ""
        url: url
      properties:
        options:
          allOf:
          - $ref: "#/components/schemas/BulkUrlOptions"
          nullable: true
        url:
          pattern: ^https?://.*
          type: string
      required:
      - url
      type: object
    CaptureDefaults:
      properties:
        actions:
          items:
            $ref: "#/components/schemas/PageAction"
          nullable: true
          type: array
        blockAds:
          default: true
          type: boolean
        blockCookieBanners:
          default: true
          type: boolean
        blockLevel:
          default: none
          type: string
        blockPopups:
          default: true
          type: boolean
        customCss:
          nullable: true
          type: string
        darkMode:
          default: false
          type: boolean
        delay:
          default: 0
          format: int32
          type: integer
        device:
          nullable: true
          type: string
        format:
          default: png
          type: string
        fullPage:
          default: false
          type: boolean
        hideSelectors:
          items:
            type: string
          nullable: true
          type: array
        quality:
          default: 80
          format: int32
          type: integer
        stealthMode:
          default: false
          type: boolean
        timeout:
          default: 30000
          format: int32
          type: integer
        viewport:
          allOf:
          - $ref: "#/components/schemas/ViewportConfig"
          nullable: true
        waitFor:
          nullable: true
          type: string
        waitUntil:
          default: domcontentloaded
          type: string
      type: object
    CaptureInfo:
      properties:
        height:
          format: int32
          type: integer
        id:
          type: string
        label:
          nullable: true
          type: string
        originalHeight:
          format: int32
          type: integer
        originalWidth:
          format: int32
          type: integer
        url:
          type: string
        width:
          format: int32
          type: integer
        x:
          format: int32
          type: integer
        "y":
          format: int32
          type: integer
      required:
      - height
      - id
      - originalHeight
      - originalWidth
      - url
      - width
      - x
      - "y"
      type: object
    CaptureItem:
      example:
        darkMode: true
        delay: 0
        device: device
        fullPage: true
        id: id
        label: label
        url: url
        viewport: ""
      properties:
        darkMode:
          nullable: true
          type: boolean
        delay:
          format: int32
          nullable: true
          type: integer
        device:
          nullable: true
          type: string
        fullPage:
          nullable: true
          type: boolean
        id:
          nullable: true
          type: string
        label:
          nullable: true
          type: string
        url:
          pattern: ^https?://.*
          type: string
        viewport:
          allOf:
          - $ref: "#/components/schemas/ViewportConfig"
          nullable: true
      required:
      - url
      type: object
    CaptureUsageCounts:
      example:
        bandwidthBytes: 0
        screenshotsCount: 6
      properties:
        bandwidthBytes:
          format: int64
          type: integer
        screenshotsCount:
          format: int64
          type: integer
      required:
      - bandwidthBytes
      - screenshotsCount
      type: object
    ClickAction:
      example:
        optional: false
        selector: selector
        timeout: 0
        type: click
      properties:
        optional:
          default: false
          type: boolean
        selector:
          type: string
        timeout:
          format: int32
          nullable: true
          type: integer
        type:
          enum:
          - click
          type: string
      required:
      - selector
      - type
      type: object
    ComposeJobCreatedResponse:
      properties:
        createdAt:
          format: date-time
          type: string
        jobId:
          type: string
        status:
          type: string
        statusUrl:
          type: string
      required:
      - createdAt
      - jobId
      - status
      - statusUrl
      type: object
    ComposeJobStatusResponse:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        completedCaptures: 0
        createdAt: 2000-01-23T04:56:07.000+00:00
        errorCode: errorCode
        errorMessage: errorMessage
        jobId: jobId
        progress: 6
        result: ""
        status: status
        totalCaptures: 1
      properties:
        completedAt:
          format: date-time
          nullable: true
          type: string
        completedCaptures:
          format: int32
          type: integer
        createdAt:
          format: date-time
          type: string
        errorCode:
          nullable: true
          type: string
        errorMessage:
          nullable: true
          type: string
        jobId:
          type: string
        progress:
          format: int32
          type: integer
        result:
          allOf:
          - $ref: "#/components/schemas/ComposeResponse"
          nullable: true
        status:
          type: string
        totalCaptures:
          format: int32
          type: integer
      required:
      - completedCaptures
      - createdAt
      - jobId
      - progress
      - status
      - totalCaptures
      type: object
    ComposeJobSummaryResponse:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        completedCaptures: 0
        createdAt: 2000-01-23T04:56:07.000+00:00
        failedCaptures: 6
        jobId: jobId
        layoutType: layoutType
        progress: 1
        status: status
        totalCaptures: 5
      properties:
        completedAt:
          format: date-time
          nullable: true
          type: string
        completedCaptures:
          format: int32
          type: integer
        createdAt:
          format: date-time
          type: string
        failedCaptures:
          format: int32
          type: integer
        jobId:
          type: string
        layoutType:
          type: string
        progress:
          format: int32
          type: integer
        status:
          type: string
        totalCaptures:
          format: int32
          type: integer
      required:
      - completedCaptures
      - createdAt
      - failedCaptures
      - jobId
      - layoutType
      - progress
      - status
      - totalCaptures
      type: object
    ComposeMetadata:
      properties:
        canvasHeight:
          format: int32
          type: integer
        canvasWidth:
          format: int32
          type: integer
        captures:
          items:
            $ref: "#/components/schemas/CaptureInfo"
          type: array
        layoutType:
          type: string
        totalCaptures:
          format: int32
          type: integer
      required:
      - canvasHeight
      - canvasWidth
      - captures
      - layoutType
      - totalCaptures
      type: object
    ComposeOutputConfig:
      example:
        alignment: center
        background: "#ffffff"
        border: ""
        columns: 6
        format: png
        labels: ""
        layout: AUTO
        maxHeight: 1551
        maxWidth: 6002
        padding: 56
        quality: 23
        shadow: ""
        spacing: 70
        thumbnailWidth: 1863
      properties:
        alignment:
          default: center
          pattern: ^(top|center|bottom)$
          type: string
        background:
          default: "#ffffff"
[...]
